button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    outline: 0;
}

button:focus {
    outline: 0;
}

.cta-button {
    padding: 6px 25px 6px 25px;
    border: 3px solid $second-color;
    position: relative;
    text-align: center;
    border-radius: $border-radius-tiny;
    margin: 20px;

    transition: $cubic-bezier-3;

    .backElm {
        border-radius: $border-radius-tiny;
        width: 100%;
        height: 100%;
        transform: scale(1.02, 1.2);
        position: absolute;
        background-color: $main-color;
        top: -25%;
        left: -3%;
        z-index: -1;
        transition: $cubic-bezier-3;

    }

    span {
        padding: 10px;
        color: white;
        font-weight: 700;
        font-size: 20px;
        text-decoration: none;
    }

    i {
        color: white;
    }
}


.elm-cta .cta-button:hover {
    border: 3px solid rgba(255, 255, 255, 0);
}

.elm-cta .cta-button:active {
    box-shadow: none;
}

.elm-cta .cta-button:hover .backElm {
    top: 0;
    left: 0
}

.elm-cta .cta-button:active .backElm {
    background-color: $main-color-dark;
}