#definition {
    
    .backstretch,
    .content,
    .filter {
        border-radius: $border-radius-small;
    }

    .backstretch img {
        top: 0 !important;
    }

    .content {
        position: relative;
        margin-top: 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        color: white;
        z-index: 99999;
    }


    .text {
        position: relative;
        z-index: 99;
        padding: 45px;
    }

    h1 {
        font-weight: 700;
        font-size: 32px;
    }

    p {

        font-weight: 400;
        font-size: 20px;
    }

}

@media (max-width:768px) {
    #definition {
        .text {
            text-align: center;
            padding: 25px;
        }

        .backstretch .simpleParallax img {
            transform: scale(1) !important;
        }
    }
}