#footer {
    margin-top: 100px;
    margin-bottom: 100px;

    .content {
        text-align: center;
        margin-top: 50px;
        h1 {
            color: $main-color;
            font-size: 28px;
            font-weight: 700;
            padding: 0;
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            font-weight: 500;
            padding: 0;
            margin: 0;
            transition: $cubic-bezier-3;
        }

    }

    .elm-cta {
        margin: 20px 0px 30px 0px;
    }

    .elm-social i {
        color: $main-color;
        font-size: 25px;
        padding: 0px 8px 0px 8px;
        transition: $cubic-bezier-3;


    }

    .elm-social i:hover {
        color: $main-color-dark;
        cursor: pointer;
        transform: translateY(5px)
    }

    .copyright h1 {
        margin: 45px 0px 45px 0px;
        font-size: 16px;
        color: $main-color;


    }
}