#header {
    text-align: center;
    margin-top: 60px;

    .logo {
        visibility: hidden;
        width: 115px;
        margin: 0px 0px 32px 0px;

        // transform: scale(3);
        g {

            opacity: 1;
            transition: $cubic-bezier-6;

            .a {
                fill: $main-color;
                opacity: 0;
                stroke-dashoffset: 207px;
            }

            .b,
            .c,
            .d {
                fill: none;
                stroke: $second-color;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 2px;
                stroke-dashoffset: 43px;

            }
        }


    }



    h1,
    h2 {
        font-weight: 700;
    }


    h1 {
        font-size: 46px;
        color: $main-color;
        padding: 0;
        margin: -4px;
    }

    h2 {
        font-size: 25px;
        color: $main-color;
        padding: 0;
        margin: 0;
    }

    /*------- Navigation -----------*/
    nav li a {
        color: $main-color !important;
        font-weight: 700;
        font-size: 20px;
        transition: $cubic-bezier-6;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
    }

    nav li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $main-color;
        transition: $cubic-bezier-6;
    }

    nav li a:hover::after {
        width: 100%;
        //transition: width .3s;
    }

    i {
        padding-right: 10px !important;
    }

    nav li {
        padding: 25px 15px;
    }

}



@media (max-width:768px) {
    #header {
        nav {
            margin: 25px;
        }

        nav li {
            padding: 5px !important;
        }
    }
}