#knowledge {
    margin-top: 80px;

    .elements {
        padding: 20px;

        h2 {
            font-weight: 700;
            font-size: 21px;
            padding: 5px 0px 5px 0px;
        }

        .tag {
            column-count: 3;
            background: $main-color;
            display: inline-flex;
            padding: 5px 15px 5px 15px;
            color: white;
            font-weight: 700;
            font-size: 16px;
            margin: 2px;
            border-radius: $border-radius-tiny;
            transition: $cubic-bezier-3;

        }
    }
}