* {
    font-family: 'Nunito', sans-serif;
}

.elements {
    opacity: 0;
}

hr {
    border: .5px solid $main-color !important;
    width: 25%;
    opacity: .1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $main-color;
    transition: $cubic-bezier-6;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $main-color-dark;
}

.filter {
    position: absolute;
    z-index: 0;
    background: -moz-linear-gradient(320deg, $main-color-darker 0%, $main-color 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $main-color-darker), color-stop(100%, $main-color));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(320deg, $main-color-darker 0%, $main-color 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(320deg, $main-color-darker 0%, $main-color 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(320deg, $main-color-darker 0%, $main-color 100%);
    /* ie10+ */
    background: linear-gradient(130deg, $main-color-darker 0%, $main-color 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000477', endColorstr='#2A4FD3', GradientType=1);
    /* ie6-9 */
    opacity: .75;
    /* ie6-9 */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.title {
    color: $main-color;
    font-weight: 700;
    font-size: 36px;
}



#error {
    .error-content {

        text-align: center;

        width: 100%;
        position: relative;
        top: 180px;
        color: $main-color;

        .sub {
            margin: 10px 0px 80px 0px;
        }

        span {
            font-size: 45px;
        }

        h1 {
            font-weight: 800;
            font-size: 25px;
        }

        h2 {
            font-size: 22px;
            margin: 10px 0px 80px 0px;
            opacity: .7;
            font-style: italic;
        }

        .elm-cta {
            span {
                font-size: 18px;
            }
        }
    }
}

@media (max-width:768px) {
    .container {
        text-align: center;
    }

    .grid {
        text-align: left !important;
    }
}