.pswp__caption {
  .pswp__caption__center {
    text-align: left;
    padding: 20px;
    width: 100%;
    max-width: 650px;

    i {
      font-size: 10px;
      padding-right: 5px;
    }

    .top-title {
      margin-bottom: 18px;

      h1 {
        font-size: 25px;
      }

      i {
        font-size: 12px;
        opacity: 0.6;
      }

      span {
        font-size: 14px;
        color: white;
        opacity: 0.6;
      }
    }

    h1,
    p,
    a,
    i,
    span {
      margin: 0;
      color: white !important;
    }

    p {
      font-size: 16px;
      font-weight: 300;
    }

    .link {
      padding-top: 10px;
      font-size: 16px;

      a {
        text-decoration: none !important;
        transition: $cubic-bezier-3;
        font-size: 14px;
      }
    }

    a:hover {
      opacity: 0.5;
    }
  }
}

#projects {
  margin-top: 80px;

  .btn {
    margin: 0px 10px 0px 00px;
    padding: 10px 0px 0px 0px;
    font-size: 18px;
    opacity: 0.5;
  }

  .grid {
    margin-top: 25px;
    overflow: hidden;
    position: relative;


    .init-img {
      position: absolute;
      z-index: -999;
      width: 100%;
      height: 100%;
      visibility: hidden;
    }

    figcaption {
      display: none;
    }
  }

  .grid-item {
    visibility: hidden;
    padding: 5px !important;
    margin: 0px !important;
  }

  .active {
    opacity: 1 !important;
  }

  .content .backstretch img,
  .content .text,
  .content .fas {
    transition: $cubic-bezier-6;
  }

  .content,
  .filter {
    border-radius: $border-radius-small;
  }


  a:hover {
    text-decoration: none;
  }

  .content {
    width: 100%;
    padding: 20px;
    display: flex; //min-height: 380px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    

    .fas {
      opacity: 0;
      font-size: 65px;
      color: white;
      display: flex;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      margin: 0 auto;
    }

    .filter {
      //background-image: linear-gradient(135deg, #3947a0 25%, #212a6800 100%) !important; //background: #212a68;
      background: #1d276d;
      opacity: 0.4;
    }

    .text {
      position: absolute;
      left: 6%;

      p {
        display: inline-block;
        padding-right: 10px;
        margin: 0;
        color: white;
        opacity: 0.8;
        font-size: 16px;
        font-weight: 500;
      }



      h2 {
        font-size: 36px;
        font-weight: 800;
        color: white;
      }
    }
  }

  .content:hover .backstretch img {
    transform: scale(1.2, 1.2); //filter: blur(0px);
  }

  .content:hover .fas {
    opacity: 0.8;
  }

  .content:hover .text {
    transform: translateY(10px);
  }

  .content:hover {
    cursor: zoom-in;
  }
}