$main-color: #3C41FF;
$second-color: #060391;
$main-color-dark: rgb(24, 32, 255);
$main-color-darker: rgb(19, 23, 243);
// 000477;
//2a4fd3
$border-radius-tiny: 2px;
$border-radius-small: 6px;
$border-radius: 10px;

$cubic-bezier-3: all .2s cubic-bezier(.25, .8, .25, 1);
$cubic-bezier-6: all .2s cubic-bezier(.25, .8, .25, 1);