include mixin/core/head

+head
#error
  .container
      .error-content
        span 🤦‍♂️
        .sub
          h1 Oups! Un problème est survenu...
          h2= message + " " + error.status
          //pre #{error.stack}
          .elm-cta
            button.cta-button(onclick="window.location.href='./'" type="button")
                .backElm
                span Retour en arrière 
                i.fas.fa-backward
