
//------------- top core elm -------//
include mixin/core/message
include mixin/core/head
include mixin/core/loader
//------------- Section Division -------//
include mixin/section/header

include mixin/section/definition
include mixin/section/knowledge
include mixin/section/projects
//------------- bottom core elm -------//
include mixin/core/footer

html
    head
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-128920677-4')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-128920677-4');
        +head
    body
        block error
        +loader
        .elements
            +header
            +definition
            +knowledge(data)
            +projects(data)
            +footer

    script(src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js")
    script(src='/javascripts/bundle.js')

