mixin footer 
    #footer
        .container
            .content
                .elm-cta
                    button.cta-button(onclick="window.location.href='mailto:john.olivierb@gmail.com'" type="button")
                        .backElm
                        span Me contacter!
                        i.fas.fa-paper-plane
                .elm-social
                    a(href="https://bitbucket.org/genoux/" target="_blank")
                        i.fab.fa-bitbucket
                    a(href="https://github.com/Genoux" target="_blank")
                        i.fab.fa-github-square
                    a(href="https://www.linkedin.com/in/jhnbrry/" target="_blank")
                        i.fab.fa-linkedin
                .copyright
                    h1 Tous droits réservés © 2021 ❤️



