mixin head  
    title #{title}
    meta(charset='UTF-8')
    meta(name='description', content='Dans la tête de John Barry - Développeur Web et Designer UI/UX')
    meta(name='keywords', content='HTML,CSS,XML,JavaScript,Boostrap,UI,UX,Web,NODEJS')
    meta(name='author', content='John Barry')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property="og:title" content="Barrymind")
    meta(property="og:image" content="https://barrymind.ca/images/res/definition.jpeg")
    meta(name='google-site-verification', content='Hg2l0A2a8JjbdOd8HsuFzbaYvsx1JhhUVVac-fxszuk')
    //-- Link Url --//
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css', integrity='sha256-Q9bBMw/rHRRag46GDWY84J3elDNc8JJjKXL9tIC4oe8=', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
