mixin definition
    #definition.aos
        .container
            .content.dataBg(data-bg="/images/res/definition.jpeg").simpleParallax
                .filter
                .text
                    h1 En quelques mots.
                    p(style='margin-top: 15px; margin-bottom:0') Depuis toujours, je m'intéresse à la recherche d'expérience utilisateur et à l'interaction entre l'homme et la machine. Je me spécifie dans le développement d'interface utilisateur, mais aussi dans la conception d'art visuel génératif en temps réel, la photographie, le développement web et le motion design.

