include navigation

mixin header
    #header
        .container.animjs
            img(src="/images/res/logo.svg").svg-inject.logo
            .fade.aos
                h1 John Barry  
                h2 Designer d'expérience multidimensionnel 
                +navigation
