mixin knowledge(data)
    #knowledge.aos
        .container
            h1.title Connaissances.
            .content.row
                if (data)
                    each cat in data.knowledge
                        each knowledge, title in cat
                            .col-lg-6.elements
                                h2= title
                                each elm in knowledge
                                    p.tag= elm
