mixin navigation   
    nav.navbar.navbar-expand-md.navbar-light
        .collapse.navbar-collapse.d-flex.justify-content-center
            ul.navbar-nav
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='#knowledge') Connaissances
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='#projects') Projets
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='#footer') Contacter
                li.nav-item
                    a.nav-link.js-scroll-trigger(target='_blank' href='/images/pdf/CV-2019.pdf') 
                        i.fas.fa-download 
                        Mon Mon CV