mixin projects(data)
    #projects.aos
        .container
            h1.title Projets.
                .filter-options
                    each cat, i  in listCategory
                        button.btn(data-group=''+cat+'')= cat
                            if (i < listCategory.length -1)
                                |  / 
                #grid.grid.row.my-gallery.shuffle-container
                    if (data)
                        - var dataJs= !{data}
                        each proj, i  in data.projects
                                    figure.col-lg-4.col-md-6.grid-item.picture-item(id=proj.name)
                                        a(href=proj.src  data-size=proj.dimensionsSrc.width+'x'+proj.dimensionsSrc.height )
                                            img(src=proj.src, itemprop='thumbnail', alt='Image description' ).init-img
                                        figcaption(itemprop="caption description") 
                                            .top-title
                                                h1=proj.name
                                                i.fas.fa-calendar-day
                                                span= proj.date
                                            p= proj.description
                                            if (proj.link)
                                                .link
                                                    i.fas.fa-link
                                                    a(href=proj.link target="_blank")= "voir le projet -> " + proj.link
                                        if (proj.thumb)
                                            .content.dataBg(data-bg=proj.thumb)
                                                .filter(style="background-image: linear-gradient(135deg,"+proj.darkColor+"  0%, rgba(231, 221, 228, 0) 100%) !important;")
                                                i.fas.fa-search-plus
                                                .text  
                                                    each c, i  in proj.category
                                                        p= listCategory[c]
                                                            if (i < proj.category.length -1 )
                                                                |  /
                                                    h2= proj.name



    .pswp(tabindex='-1' role='dialog' aria-hidden='true')
        .pswp__bg
        .pswp__scroll-wrap
            .pswp__container
                .pswp__item
                .pswp__item
                .pswp__item

                
            .pswp__ui.pswp__ui--hidden
                .pswp__top-bar
                    .pswp__counter
                    button.pswp__button.pswp__button--close(title='Close (Esc)')
                    button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
                    button.pswp__button.pswp__button--zoom(title='Zoom in/out')
                    
                    .pswp__preloader
                        .pswp__preloader__icn
                            .pswp__preloader__cut
                                .pswp__preloader__donut
                .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                    .pswp__share-tooltip
                button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
                button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
                .pswp__caption
                    .pswp__caption__center
                    


script.
    document.addEventListener("DOMContentLoaded", function(){
        var cat =!{JSON.stringify(listCategory)}
        var data = !{JSON.stringify(data.projects)}
        data.forEach(function(proj) {
            var projElm = document.getElementById(proj.name);
            var arr = [];
        for(var i=0; i<proj.category.length;i++){ 
            arr.push('"'+cat[proj.category[i]]+'"')
            arr.toString();
        }
            projElm.setAttribute('data-groups', '['+arr.toString()+']')
        });
    });


